.vs/
EasyComClient/bin/
EasyComClient/obj/
EasyComClient/Properties/

EasyComServer/bin/
EasyComServer/obj/
EasyComServer/Properties/

LogSystem/bin/
LogSystem/obj/
LogSystem/Properties/

Example.ClientImplementation/bin/
Example.ClientImplementation/obj/
Example.ClientImplementation/Properties/

Example.ServerImplementation/bin/
Example.ServerImplementation/obj/
Example.ServerImplementation/Properties/


